In [2]:
%matplotlib inline
from sklearn.linear_model import LinearRegression
import pprint
import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
from scipy.optimize import curve_fit

In [3]:
df1 = pd.read_csv ('Resources/HistoricalEsportData.csv')
df1 = df1[df1['Earnings'] > 0.0]
#print(df1)

In [4]:
df1['Date']= pd.to_datetime(df1['Date'])
df1['Date'] = df1['Date'].dt.strftime('%Y')

df1

      Date                   Game  Earnings  Players  Tournaments
0     1998             QuakeWorld  15000.00        8            1
1     1998               Quake II  14600.00        4            1
2     1998               Quake II  15000.00        5            1
3     1998             QuakeWorld   6500.00        4            1
4     1998               Quake II  36600.00       13            2
...    ...                    ...       ...      ...          ...
6837  2021               Mythgard   1000.00        4            1
6838  2021                   osu!    780.00       16            1
6839  2021                Xonotic    746.71        8            1
6840  2021             Diabotical    370.73        6            5
6841  2021  Them's Fightin' Herds     45.15        3            2

[6661 rows x 5 columns]

In [5]:
df1[['Date']] = df1[['Date']].astype(float)
df1[['Tournaments']] = df1[['Tournaments']].astype(float)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6661 entries, 0 to 6841
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         6661 non-null   float64
 1   Game         6661 non-null   object
 2   Earnings     6661 non-null   float64
 3   Players      6661 non-null   int64
 4   Tournaments  6661 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 312.2+ KB